.event-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
.status-message {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70vh;
  font-size: 1.2rem;
  color: #555;
  text-align: center;
}
.loading-gif {
  width: 80px;
  height: 80px;
  margin-top: 10px;
}
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}
