* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.event-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #3b3b3b;
  border-radius: 20px;
  padding: 20px;
  margin: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}
.event-card img {
  margin: 10px;
  width: 300px;
}
