* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.event-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-color: #3b3b3b;
  border-radius: 15px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);

  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
  width: 100%;
  max-width: 400px;
}

.event-card:hover {
  background-color: #444444;
  transform: scale(1.03);
}

.event-card img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  object-fit: cover;
}

.event-card__info {
  width: 100%;
  color: #fff;
  margin: 10px 0;
}

.card-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

.card-row svg {
  margin-right: 4px;
  width: 15px;
  min-width: 15px;
}

.event-card-stock {
  font-weight: 700;
}

.event-card-stock span {
  font-weight: 400;
}

@media (max-width: 768px) {
  .event-card {
    max-width: 90%;
    margin: 10px auto;
  }

  .event-card img {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .event-card {
    padding: 20px;
    border-radius: 15px;
  }

  .event-card img {
    width: 100%;
    margin: 0 0 10px 0;
  }

  .event-card__info {
    font-size: 0.9rem;
  }

  .card-row svg {
    width: 12px;
  }
}
