* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.event-card {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  background-color: #3b3b3b;
  border-radius: 20px;
  padding: 10px;
  margin: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.event-card:hover {
  background-color: #444444;
  transform: scale(1.03);
}
.event-card img {
  margin: 10px;
  width: 350px;
}
.event-card__info {
  margin: 10px;
}
.card-row {
  display: flex;
  align-items: center;
}
.card-row svg {
  margin-right: 4px;
  width: 15px;
}
.event-card-stock {
  font-weight: 700;
}
.event-card-stock span {
  font-weight: 400;
}
