.hero-carousel {
  position: relative;
  width: 90%;
  max-width: 1200px;
  height: 65vh;
  margin: 1vh auto 1vh auto;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  background-color: #3b3b3b;
}

.hero-carousel img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  transition: transform 0.5s ease-in-out;
}

.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0);
  color: white;
  border: none;
  font-size: 2.5rem;
  padding: 10px 14px;
  cursor: pointer;
  border-radius: 50%;
  transition: background 0.3s;
}

.nav:hover {
  background: rgba(0, 0, 0, 0.5);
}

.nav.left {
  left: 15px;
}

.nav.right {
  right: 15px;
}
@media (max-width: 768px) {
  .hero-carousel {
    width: 95%;
    height: 40vh;
    margin-top: 1vh;
  }
  .nav {
    font-size: 1.8rem;
    padding: 6px 10px;
  }
}
