* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3b3b3b;
  padding: 10px 20px;
  border-radius: 40px;
  margin: 0 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  padding: 10px 20px;
  font-size: 10px;
}

.logo h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.logo span {
  font-weight: 900;
  color: rgba(209, 1, 1, 0.952);
}

.logo svg {
  width: 40px;
  margin: 0 4px;
}

.logo svg path {
  fill: rgba(255, 255, 255, 0.87);
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container a {
  background-color: rgba(209, 1, 1, 0.952);
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
  margin: 6px;
  padding: 10px 30px;
  border-radius: 20px;
  border: none;
  text-decoration: none;
  color: white;
}

.button-container a:hover {
  background-color: rgb(224, 0, 0);
  transform: scale(0.95);
}

.button-container a:focus {
  background-color: black;
  transform: scale(0.88);
  color: rgba(209, 1, 1, 0.952);
}
