.reserva-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #3b3b3b;
  padding: 20px 25px;
  border-radius: 20px;
  margin-top: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}
.reserva-container img {
  margin: 10px 0;
  background-color: #2e2e2e;
  padding: 8px;
}
.button-reserva {
  margin-top: 10px;
  border-radius: 20px;
}
.button-minusplus {
  border-radius: 50%;
}
