* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.input-searchbar {
  width: 300px;
  height: 30px;
  border-radius: 20px;
  border: none;
  padding: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}
