.theme-toggle-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 15px;
  font-size: 14px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #3b3b3b;
  color: #fff;
  transition: all 0.3s ease;
  z-index: 9999;
  border-radius: 40px;
}

.theme-toggle-btn:hover {
  background-color: #444;
}

.light-mode {
  background-color: #dddddd;
  color: #111;
}

.light-mode * {
  background-color: transparent;
  color: inherit;
}

.light-mode .event-card,
.light-mode .event-detail-container,
.light-mode .navbar,
.light-mode .input-searchbar,
.light-mode .input-principal,
.light-mode .button-reservar,
.light-mode .button-reserva,
.light-mode .button-minusplus,
.light-mode .reserva-container {
  background-color: #e6e6e6 !important;
  color: #111 !important;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.light-mode .event-card:hover {
  background-color: #f0f0f0 !important;
  transform: scale(1.03);
}

.light-mode nav,
.light-mode footer {
  color: #111 !important;
}
